<form id="contact-form" onsubmit="return validateForm()">
    <label>Name (required):</label>
    <input type="text" id="name" name="name" placeholder="Full Name" required />
    <label>Email (required):</label>
    <input type="email" id="email" name="email" placeholder="Email Address" required />
    <label for="phone">Phone (optional):</label>
    <input type="tel" id="phone" name="phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}">
    <label>Message (required):</label>
    <textarea name="message"></textarea>
    <input type="submit" value="Send" class="btn" />
</form>


<link rel="stylesheet" href="/css/validation.css" />
<script src="./js/emailJS.js"></script>
<script src="./js/validation.js"></script>