<head>
  <title>About Us</title>
  <base target="_blank">
  <!--  <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Raleway" rel="stylesheet">-->
  <!--  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">-->
  <!--  <link rel="stylesheet" href="/css/styles.css">-->
</head>

<body>
    <%- include('partials/header') %>

    <section class="destinations">
      <h3 class="title">Having a Home You're Happy With is Our Priority</h3>
      <p>Tired of the beach alone? Are the plains too plain? Come along with us on one of our unusual adventures with
        your friends. Here are some pictures from people who have had elevated experiences with us.</p>
      <p>Tired of the beach alone? Are the plains too plain? Come along with us on one of our unusual adventures with
        your friends. Here are some pictures from people who have had elevated experiences with us.</p>
      <p>Tired of the beach alone? Are the plains too plain? Come along with us on one of our unusual adventures with
        your friends. Here are some pictures from people who have had elevated experiences with us.</p>
      <hr>

      <ul class="grid">
        <li class="small image-1"></li>
        <li class="large image-2"></li>
        <li class="large image-3"></li>
        <li class="small image-4"></li>
      </ul>
    </section>

    <%- include('partials/footer') %>
</body>