<html>
    <head>
      <title>Contact Us</title>
      <base target="_blank">
      <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Raleway" rel="stylesheet">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="/css/styles.css">

        <script type="text/javascript"
                src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js">
        </script>
        <script type="text/javascript">
            (function(){
                emailjs.init({
                    publicKey: "LyQdzIpqWD7qmfpru",
                });
            })();
        </script>

        <script type="text/javascript">
            window.onload = function() {
                document.getElementById('contact-form').addEventListener('submit', function(event) {
                    event.preventDefault();
                    emailjs.sendForm('contact_service', 'contact_form', this)
                        .then(() => {
                            console.log('SUCCESS!');
                        }, (error) => {
                            console.log('FAILED...', error);
                        });
                });
            }
        </script>
    </head>

    <body>
      <header>
        <h1>Contact Us</h1>
        <nav>
          <li><a href="/">Home</a></li>
          <li><a href="/services">Services</a></li>
          <li><a href="/about">About</a></li>
        </nav>
      </header>

      <section class="contact">
          <h3 class="title">Let's Get In Touch</h3>
          <p>Want to know about our upcoming events, or come to one of our mixers? Just sign up for our mailing list.
              No spam from us, we promise! Except for the spam we give you to keep up your energy while you're having
              fun with your friends. Have a blast! We have tons of that.</p>
          <hr>
          <form id="contact-form">
              <input type="hidden" name="contact_number" value="697483">
              <label>Name</label>
              <input type="text" name="user_name" placeholder="Full Name">
              <label>Email</label>
              <input type="email" name="user_email" placeholder="Email Address">
              <label>Message</label>
              <textarea name="message"></textarea>
              <input type="submit" value="Send" class="btn">
          </form>
      </section>

      <section class="testimonials">
          <h3 class="title">Testimonials from our adventurers:</h3>
          <hr>
          <p class="quote">Wow! This tour made me realize how much I love being outside with my friends. After going on
              one of these tours, I can safely say that beer pong is my favorite game all time, also the cultural
              programs were really interesting!</p>
          <p class="author">- Albert Herter</p>
          <p class="quote">Wow, this really blew my mind. We had so much fun at the beach, and also some hidden secrets
              revealed. Come on, I'm living in this city for 5 years. Amazing!</p>
          <p class="author">- Sharon Rosenberg</p>
          <p class="quote">If you want to understand your friends better, head to the mountains. I mean, seriously.
              It's like sitting next to a campfire and just talk in the sunset, woah. You know? It's like that.</p>
          <p class="author">- Luis Mendoza</p>
      </section>

      <footer>
          make into import
        <p>&copy; 2024 Pristine Solutions Cleaning Company</p>
        <ul>
          <li><a href="#"><i class="fa fa-twitter-square fa-2x"></i></a></li>
          <li><a href="#"><i class="fa fa-facebook-square fa-2x"></i></a></li>
          <li><a href="#"><i class="fa fa-snapchat-square fa-2x"></i></a></li>
        </ul>
      </footer>
    </body>
</html>