<head>
    <title>Contact Us</title>
    <base target="_blank" />
<!--    <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Raleway" rel="stylesheet" />-->
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />-->
<!--    <link rel="stylesheet" href="/css/styles.css" />-->
    <script src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js"></script>
</head>

<body>
<header>
    <h1>Contact Us</h1>
    <nav>
        <li><a href="/">Home</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/about">About</a></li>
    </nav>
</header>

<section class="contact">
    <h3 class="title">Let's Get In Touch</h3>
    <p>
        Want to know about our upcoming events, or come to one of our mixers? Just sign up for our mailing list. No spam from us, we promise! Except for the spam we give you to keep up your energy while you're having fun with your
        friends. Have a blast! We have tons of that.
    </p>
    <hr />
    <%- include('partials/contact-form') %>
</section>

<!--<section class="testimonials">-->
<!--    <h3 class="title">Testimonials from our adventurers:</h3>-->
<!--    <hr />-->
<!--    <p class="quote">-->
<!--        Wow! This tour made me realize how much I love being outside with my friends. After going on one of these tours, I can safely say that beer pong is my favorite game all time, also the cultural programs were really-->
<!--        interesting!-->
<!--    </p>-->
<!--    <p class="author">- Albert Herter</p>-->
<!--    <p class="quote">Wow, this really blew my mind. We had so much fun at the beach, and also some hidden secrets revealed. Come on, I'm living in this city for 5 years. Amazing!</p>-->
<!--    <p class="author">- Sharon Rosenberg</p>-->
<!--    <p class="quote">If you want to understand your friends better, head to the mountains. I mean, seriously. It's like sitting next to a campfire and just talk in the sunset, woah. You know? It's like that.</p>-->
<!--    <p class="author">- Luis Mendoza</p>-->
<!--</section>-->

<%- include('partials/footer') %>
</body>