<index><!DOCTYPE html>
    <html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Pristine Solutions | Professional House Cleaning</title>
    </head>
    <body>
    <h2><a href="/">Pristine Solutions Cleaning Company</a></h2>
    <li>
        <a href="/services">Services</a>
    </li>
    <li>
        <a href="/contact">Contact</a>
    </li>
    <li>
        <a href="/about">About</a>
    </li>
    <h1>Pristine Solutions</h1>
    <h3>Affordable house cleaning so you don't have too.</h3>
    <a href="/contact">Get a free quote</a>
    <h3>What We Offer:</h3>
    <p>
        Hey there! I'm Samantha, and I'm here to take the stress of cleaning off your hands. I know how busy life can get, and sometimes the last thing you want to do is scrub your bathroom or tackle those dusty shelves. That's where I
        come in. It's not just about cleaning, it's about giving you the gift of time and a peaceful, tidy space to come home to.
    </p>
    <hr />
    <ul>
        <li>
            <h4>Deep cleaning</h4>
            <p>Looking for the complete experience? Take a tour with one of our experts. They'll show you secrets that you're likely to miss otherwise.</p>
        </li>
        <li>
            <h4>Regular maintenance</h4>
            <p>Want to experience nature's beauty without all of that annoying exercise? Take a photo tour on one of our Life is a party! buses.</p>
        </li>
        <li>
            <h4>Move-in/move-out cleaning</h4>
            <p>If bicycles are more your speed, consider taking a tour through one of our mountain or city bike paths. We'll provide the bikes, and lunch too!</p>
        </li>
        <li>
            <h4>Eco-friendly options</h4>
            <p>Got a competitive spirit? Sign up for one of our challenge-based marathons! Try to reach the summit before any other group.</p>
        </li>
    </ul>
    <h3>Testimonials from our adventurers:</h3>
    <hr />
    <p>
        Wow! This tour made me realize how much I love being outside with my friends. After going on one of these tours, I can safely say that beer pong is my favorite game all time, also the cultural programs were really interesting!
    </p>
    <p>- Albert Herter</p>
    <p>Wow, this really blew my mind. We had so much fun at the beach, and also some hidden secrets revealed. Come on, I'm living in this city for 5 years. Amazing!</p>
    <p>- Sharon Rosenberg</p>
    <p>If you want to understand your friends better, head to the mountains. I mean, seriously. It's like sitting next to a campfire and just talk in the sunset, woah. You know? It's like that.</p>
    <p>- Luis Mendoza</p>
    <h3>Learn more</h3>
    <p>
        Want to know about our upcoming events, or come to one of our mixers? Just sign up for our mailing list. No spam from us, we promise! Except for the spam we give you to keep up your energy while you're having fun with your
        friends. Have a blast! We have tons of that.
    </p>
    <hr />
    <%- include('partials/contact-form') %><%- include('partials/footer') %>
    </body>
    </html>